vars {
    --yellow: #00ff00;
}

.weather-desc {
    font-size: 12px;
    margin: 6px 2px;
    /* border: 1px solid yellow; */
    color: white;
}

.sun-desc {
    font-size: 14px;
    /* z-index: 10; */
    font-weight: bolder;
    /* align-self: flex-start; */
    display: inline;
    /* border: 1px solid yellow; */
    color: white;
    padding: 0;
}

.sun-desc>p {
    margin: 0;
    padding: 0;
}

.location {
    font-size: 38px;
    margin: 0 auto;
    color: white;
}

.temperature-chart {
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid red; */
}

.button {
    display: inline;
    position: absolute;
    background-color: darkgreen;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.settings {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: lightcyan;
    top: 0;
    left: 0;
}

.temperature {
    font-size: 72px;
    /* border: 1px solid blue; */
    color: white;
    margin: 1vh 0;
    /* z-index: 10; */
}

.temperature-min-max {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* z-index: 1; */
    color: white;
    text-shadow: black 0px 1px 1px;
}

.temperature-min-max>p {
    font-size: 14px;
    /* border: 1px solid yellow; */
    margin: auto 0;
    color: white;
    text-shadow: black 0px 1px 1px;
}

.week-chart {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    /* position: absolute; */
    top: 60%;
    /* bottom: 0; */
    /* left: 0; */
    box-shadow: dimgray;
    margin: 20px auto;
    border: none;
}

.day-chart {
    text-align: left;
}

.temp-chart {
    text-align: right;
    padding: 0 10px;
}

.icon-chart {
    text-align: center;
}

.max-chart {
    text-align: right;
    padding: 0 10px;
}

.min-chart {
    text-align: right;
    padding: 0 10px;
}

img {
    width: 18%;
    height: 18%;
    margin: auto 0;
}

.week-chart>p {
    margin: 33px;
}

.cube-container {
    transform: rotate(30deg);
}

.cube {
    margin: 100px auto;
    height: 86px;
    width: 100px;
    background-color: lightblue;
    transform: skew(-30deg);
    box-shadow: 6px 6px 1px 1px rgba(0, 0, 255, 0.2);
}

.weather-canvas {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-evenly; */
    padding-top: '10vh';
    /* border: 1px solid red; */
}

.weather-canvas>div {}

.details {
    padding: 10%;
    /* border: 1px solid black; */
}

.table {
    padding: 2%;
    /* overflow: scroll */
    /* border: 1px solid black; */
}