.wrap {
  /* margin-top: 100px; */
  /* width: 50px;
  height: 50px; */
  perspective: 800px;
  perspective-origin: 50% 50%;
}


.face {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid darkgray; */
  opacity: 1;
  background-color: darkgray;
}

.front {
  height: 10px;
  width: 100px;
  transform: translateZ(50px);
  
}

.back {
  height: 10px;
  width: 100px;
  transform: translateZ(-50px) rotateY(180deg);  
}

.right {
  height: 10px;
  width: 100px;
  transform: rotateY(-270deg) translateX(50px);
  transform-origin: top right;
}

.left {
  height: 10px;
  width: 100px;
  transform: rotateY(270deg) translateX(-50px);
  transform-origin: center left;
  
}

.top {
  height: 100px;
  width: 100px;
  transform: rotateX(-270deg) translateY(-50px);
  transform-origin: top center;
  background-color: turquoise;
}

.bottom {
  height: 0px;
  width: 0px;
  transform: rotateX(270deg) translateY(50px);
  transform-origin: bottom center;
  opacity:0;
  
}

@keyframes rotate {
  from {
    transform: rotateX(-20deg)
     /* rotateY(0deg); */
  }
  
  to {
    transform: rotateX(-20deg)
     /* rotateY(360deg); */
  }
}

.cube {
  margin: auto;
  height: 0;
  width: 100px;
  position: relative;
  transform-style: preserve-3d;
  background-color: #FFF0;  
}

.cube {
  animation: rotate 10s infinite linear;
}
